@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
}

.flex {
  display: flex;
}

.App {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  padding: 1em 2em;
  background-color: azure;
  border-radius: 5px;
}

#text {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  max-width: 550px;
  min-width: 256px;
}

.quote-icon {
  margin-right: 10px;
}

#author {
  text-align: right;
  font-family: 'Roboto Slab', sans-serif;
}

.social-share-btn {
  border-radius: 2px;
  width: 38px;
  height: 38px;
  margin-right: 7px;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.new-quote-btn {
  display: inline-block;
  border: none;
  padding: .5rem 1rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  font-size: 1rem;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.new-quote-btn:hover,
.new-quote-btn:focus,
.social-share-btn:hover,
.social-share-btn:focus {
  opacity: .7;
}

.new-quote-btn:focus,
.social-share-btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.new-quote-btn:active,
.social-share-btn:active {
  transform: scale(0.99);
}

.control-panel {
  justify-content: space-between;
}

.social-icon {
  color: white;
}

.credits {
  color: white;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.1px;
  margin-top: 5px;
}

.credits a {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.credits span {
  color: red;
  font-size: 17px;
}

.category-group {
  margin-bottom: 7px;
}

.category-button {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 5px;
  /*optional*/
  font-family: 'Roboto Slab', sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
}


.category-button:active {
  border-radius: 5px;
  border-bottom: 3px solid white;
}

.category-button:hover,
.category-button:focus {
  outline: none;
  animation: categoryButton .8s forwards;
}

.selected-button {
  cursor: initial;
  font-weight: bold;
  border-radius: 5px!important;
  border-bottom: 3px solid white!important;
}

@keyframes categoryButton {
  100% {
    border-radius: 5px;
    border-bottom: 3px solid white;
  }
}